## IMPORTS

In [1]:
import pandas as pd

## LOAD FILE

In [2]:
df = pd.read_csv(r'C:\Users\andre\repository\curso-python-zero-ao-ds\datasets\kc_house_data.csv')
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

## FUNCTIONS

In [3]:
def extract_biggest_value(data, column1, column2):
    '''
    Extract the biggest value in a column and its index or identificator
    
    param
    data: dataframe containing the data
    column1: column with the index or identificator
    column2: column with the numerical values to be sorted
    returns row with the biggerst value and its index or identificator
    '''
    
    
    biggest = df[[column1, column2]].sort_values(column2, ascending=False).reset_index(drop=True)[:1]
    
    return biggest

## RESPONDENDO AS PERGUNTAS DO CEO

1. Quantos imóveis estão disponíveis para compra?

In [4]:
imoveis_totais = len(df['id'].unique())
print('R: O dataset possui {} disponíveis para compra'.format(imoveis_totais))

R: O dataset possui 21436 disponíveis para compra

2. Quantos atributos cada imóvel possui? (nº de quartos, número de garagens, m2, etc)

In [5]:
features = df.drop(['id', 'date'], axis=1).columns.to_list()
print('Cada imóvel possui um número de {} atributos'.format(len(features)))

Cada imóvel possui um número de 19 atributos

3. Quais são esses atributos

In [6]:
print('Os atributos são:')
for i in features:
    print(i)

Os atributos são:
price
bedrooms
bathrooms
sqft_living
sqft_lot
floors
waterfront
view
condition
grade
sqft_above
sqft_basement
yr_built
yr_renovated
zipcode
lat
long
sqft_living15
sqft_lot15

4. Qual o imóvel mais caro do portfólio?

In [7]:
mais_caro = extract_biggest_value(df, 'id', 'price')

print('O imóvel mais caro é o id: {}, e ele custa ${}'.format(mais_caro['id'][0], mais_caro['price'][0]))

O imóvel mais caro é o id: 6762700020, e ele custa $7700000.0

5. Qual imóvel com maior número de quartos?

In [8]:
mais_quartos = extract_biggest_value(df, 'id', 'bedrooms')
print('O imóvel com maior número de quartos é o id: {}, e ele tem {} quartos'.format(mais_quartos['id'][0], mais_quartos['bedrooms'][0]))

O imóvel com maior número de quartos é o id: 2402100895, e ele tem 33 quartos

## NOVAS PERGUNTAS DO CEO

6. Qual a soma total de quartos do conjunto de dados?

In [9]:
print('A soma de todos os imóeis do conjunto é: {}'.format(int(round(df['bathrooms'].sum(), 0))))

A soma de todos os imóeis do conjunto é: 45706

7. Quantos imóveis possuem 2 banheiros?

In [10]:
two_bathrooms = len(df[df['bathrooms'] == 2]['id'])

two_bathrooms

1930

8. Qual o preço médio de todas os imóveis no conjunto de dados?

In [11]:
mean_price = round(df['price'].mean(), 2)

mean_price

540088.14

9. Qual o preço médio imóveis com 2 banheiros?

In [12]:
mean_price_two_bathrooms = round(df[df['bathrooms'] == 2]['price'].mean(), 2)

mean_price_two_bathrooms

457889.72

10. Qual o preço mínimo entre os imóveis com 3 quartos?

In [13]:
lowest_price_three_bedrooms = df[df['bedrooms'] == 3]['price'].min()
lowest_price_three_bedrooms

82000.0

11. Quantos imóveis possuem mais de 300 m² na sala de estar?

In [14]:
df['sqft_living_m2'] = round(df['sqft_living'] * 0.092903, 2)

living_room_above_300_m2 =  len(df[df['sqft_living_m2'] > 300]['id'])
living_room_above_300_m2

2258

12. Quantos imóveis tem mais de 2 andares?

In [15]:
more_than_two_floors = len(df[df['floors'] > 2]['id'])

more_than_two_floors

782

13. Quantos imóveis tem vista para água?

In [16]:
water_view = len(df[df['waterfront'] == 1]['id'])

water_view

163

14. Dos imóveis com vista para água, quantas possuem 3 quartos?

In [17]:
water_view_3_bath = len(df[(df['waterfront'] == 1) & (df['bathrooms'] == 3)]['id'])

water_view_3_bath

8

15. Dos imóveis com mais de 300 m² de sala de estar, quantos tem mais de 2 banheiros?

In [18]:
len(df[(df['sqft_living_m2'] > 300) & (df['bathrooms'] > 2)])

2201